@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

*{
    font-family:"Roboto", serif; ;
}
/*Hero Section CSS*/
.heroSection{
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100vw ;
    background-color: aqua;
}

.heroText{
    display: flex;
    flex-direction: row;
}

.heroText2{
    width: 35vw;
    padding-top: 20vh;
    padding-left: 12vw;
    margin-right: 3vw;
}

.heroText2 h1{
    font-size: 3rem;
}

.img1{
    height: 40vh;
    width: 47vw;
    padding-top: 20vh;
    border-radius: 20px;
}
.btn {
    background-color: whitesmoke;
    width: 5vw;
    height: 3vh;
    border: 2px solid black;
    padding: 1.5vh; /* Adds 1.5vh padding on all sides */
}

/*Middle Section*/

.midSection{
    text-align: center;
}

.midHeroSec{
    display: flex;
    flex-direction: row;
    
}

.card2{
    margin-left: 5vw;
}

.img2{
    height: 20vh;
    width: 20vw;
}


.midLowerSec{
    width: 80vw;
    height:40vh ;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.img3{
    height: 40vh;
    width: 47vw;
}

.reviewimg{
    display: flex;
    flex-direction: row;
}

.review{
    display: flex;
    flex-direction: column;
}